body {
    background-color: white;
    width: 100%;
    height: 100vh;
    margin: 0px;
}

.divSections {
    display: flex;
    flex-direction: row;
}

.sectionPrimary{
    background-color: #F8F8FD;
    width: 65%;
    height: 630px;
}

.sectionPrimary header  {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
    margin-left: 4%;
    margin-top: 10px;
}


.sectionPrimary header div img {
    width: 141px;
    height: 40px;
    cursor: pointer;
}

.sectionPrimary header div#line {
    border: 1px solid #CECFD9;
    height: 40px;
}


.sectionPrimary header button  {
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #51545A;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sectionPrimary div#textCenter  {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 11%;
    width: 60%;
    margin-top: 0px;
}

.sectionPrimary div#textCenter h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;    
    color: #D30000;
}

.sectionPrimary div#textCenter h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #1F1F26;
    margin-top: 0px;
    margin-bottom: 10px;
}

.sectionPrimary div#textCenter h4 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #1F1F26;
    margin-top: 0px;
}

.sectionPrimary div#textCenter div#buttonGreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 48px;

    width: 45%;
    margin-top: 20px;

    background: #14C67B;
    box-shadow: 5px 10px 20px rgba(20, 198, 123, 0.5);
    border-radius: 100px;
    color: white;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}

.sectionPrimary div#textCenter div#alert {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
    color: #51545A;
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.sectionPrimary div#textCenter div#alert img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.sectionPrimary div#textCenter div#flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.sectionPrimary div#textCenter div#flex div#line {
    border: 1px solid #CECFD9;
    height: 50px;
}

.sectionPrimary div#textCenter div#flex div#icon {
    margin-right: 15px;
}

.sectionPrimary div#textCenter div#flex div#icon  img{
    width: 40px;
    height: 40px;
}

.sectionPrimary div#textCenter div#flex h3 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #1E1C1C;
    margin-bottom: 0px;
}

.sectionPrimary div#textCenter div#flex label {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #1E1C1C;
    opacity: 0.8;
}

.sectionSecondary {
    background-color: #D30000;
    width: 35%;
    height: 630px;
}

.sectionSecondary header  {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
}

.sectionSecondary header button#access{
    color: white;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.24);
    box-sizing: border-box;
    border-radius: 100px;
    font-weight: 800;
}

.sectionSecondary header button#access img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.sectionSecondary header button#signup{
    background: #14C67B;
    box-shadow: 5px 10px 20px -10px rgba(20, 198, 123, 0.16);
    border-radius: 100px;
    color: white;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;

    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
}

.sectionSecondary header button#signup img{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}


.sectionSecondary div#mainSecondary {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.sectionSecondary div#mainSecondary div#retanglePc {
    position: absolute;
    width: 494px;
    height: 380px;
    left: 55%;
    top: 122px;   
    background: #FFFFFF;
    border: 4px solid rgba(0, 62, 119, 0.1);
    box-sizing: border-box;    
    box-shadow: 4px 8px 80px rgba(40, 40, 103, 0.05);
    border-radius: 8px;
}

.sectionSecondary div#mainSecondary div#retanglePhone {
    position: absolute;
    width: 160px;
    height: 320px;
    left: 80%;
    top: 246px;
    background: #FFFFFF;
    border: 4px solid rgba(0, 62, 119, 0.1);
    box-sizing: border-box;
    box-shadow: 4px 8px 80px rgba(40, 40, 103, 0.05);
    border-radius: 8px;
}


.divDefault {
    margin: 115px 212px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divDefault section#sectionDefault {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
}

.divDefault section#sectionDefault  h1{
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #1F1F26;
}

.divDefault section#sectionDefault  label{
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 135%;
    text-align: center;
    color: #1F1F26;
}

.divDefault section#sectionDefault div#blocksTitle{
    display: flex;
    width: 100%;
    margin-top: 49px;
    justify-content: center;
    padding: 1rem;
}

.divDefault section#sectionDefault div#blocksTitle div#retalgleGray{
    background: #FFFFFF;
    border: 1px solid rgba(81, 84, 90, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
    width: 402px;
    height: 392px;
    margin-top: 3rem;
}

.divDefault section#sectionDefault div#blocksTitle div#retalgleGray div#title{
    color: #51545A;
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 135%;
    text-align: center;
    background: #f7f7f7;
    /* opacity: 0.05; */
}

.divDefault section#sectionDefault div#blocksTitle div#retalgleRed{
    background: #FFFFFF;
    border: 1px solid rgba(211, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: 4px 8px 80px rgba(40, 40, 103, 0.05);
    border-radius: 8px;
    width: 402px;
    height: 392px;
    margin-left: 24px;
    margin-top: -2rem;
}

.divDefault section#sectionDefault div#blocksTitle div#retalgleRed div#title{
    background: #D30000;
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 135%;
    text-align: center;
    color: #FFFFFF;
}


.listIconText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.listIconText div#flexIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    max-width: 70%;
}

.listIconText div#flexIcon img{
    width: 56px;
    height: 56px;
    margin-right: 24px;
}

.listIconText div#flexIcon label, .listIconText div#flexIcon label#red{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;                      
    text-align: initial;                                             
}


.listIconText div#flexIcon label#red strong{
    color: #D30000;
}


.displayDiv {
    width: 75%;
    height: 104px;
    background: #FFFFFF;
    border: 1px solid rgba(81, 84, 90, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    margin-top: 56px;
}

.displayDiv div#icon {
    width: 30%;
    height: 100%;
    background: #404047;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(81, 84, 90, 0.2);
    box-sizing: border-box;
    border-radius: 8px 0px 0px 8px;
}

.displayDiv div#icon img {
    width: 20px;
    height: 20px;
}

.displayDiv div#textDisplay {
    width: 100%;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #404047;
    cursor: pointer;
}

.divDefault section#sectionDefault div#buttonGreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 48px;

    width: 15rem;
    margin-top: 20px;

    background: #14C67B;
    box-shadow: 5px 10px 20px rgba(20, 198, 123, 0.5);
    border-radius: 100px;
    color: white;
    margin-top: 72px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}

.cards {
    width: 100%;
    display: flex;
    margin-left: 5%;
    margin-top: 150px;
    align-items: center;
    justify-content: space-between;
}

.cards div#text {
    width: 50%;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.cards div#text label#title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #D30000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cards div#text label#subTitle{
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #1F1F26;
    text-align: start;
    margin-top: 12px;
}

.cards div#text label#text{
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 135%;
    text-align: start;
    color: #1F1F26;
    margin-top: 12px;
}

.cards div#card {
    width: 416px;
    height: 398px;
    background: #404047;
    border-radius: 20px;
    margin: 10px;
}

.footerBar {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerBar img{
    width: 150px;
    height: 42px;
    margin-right: 10px;
}

.footerBar label{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #51545A;
}

.footerBar div#line{
    border: 1px solid #EDEDF2;
    height: 40px;
    margin-right: 10px;
}

.sectionRed {
    width: 100%;
    height: 583px;
    background-color: #D30000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sectionRed div#retangle{
    width: 496px;
    height: 327px;
    background-color: #1F1F26;
    border: 12px solid rgba(255, 255, 255, 0.08);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sectionRed div#text{
    display: flex;
    flex-direction: column;
}

.sectionRed div#text label#label1{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7);
}

.sectionRed div#text label#label2{
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

.sectionRed div#text label#label3{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 24px;
    cursor: pointer;
}

.sectionRed div#text button{
    background: #14C67B;
    box-shadow: 5px 10px 20px rgba(20, 198, 123, 0.12);
    border-radius: 100px;
    width: 296px;
    height: 52px;
    cursor: pointer;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionCheck {
    margin: 150px 213px;
    width: fit-content;
}

.sectionCheck label#title {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: #1E1C1C;
}

.sectionCheck div#checks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sectionCheck div#checks div#checkText {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    margin-right: 24px;
}

.sectionCheck div#checks div#checkText img{
    width: 18px;
    height: 18px;
}

.sectionCheck div#checks div#checkText label{
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-top: 18px;
}

.sectionCheck div#contact {
    width: 100%;
    height: 56px;
    border: 1px solid #E1E5F0;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
    margin-top: 56px;
}

.sectionCheck div#contact label {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;   
    text-align: center;    
    color: #404047;
}

.sectionCheck div#contact img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}



/* Medya query */

@media screen and (max-width: 1200px){
    .divSections {
        display: flex;
        flex-direction: column;
    }

    .sectionPrimary {
        width: 100%;
        height: 100%;
        margin-bottom: 15px;
    }

    .sectionPrimary div#textCenter  {
        width: 80%;
    }

    .sectionSecondary {
        width: 100%;
    }

    .sectionSecondary div#mainSecondary div#retanglePc {
        position: static;
    }

    .sectionSecondary div#mainSecondary div#retanglePhone {
        position: static;
        z-index: 2;
        margin-left: -6rem;
        margin-bottom: -12rem;
    }
}

@media screen and (max-width: 910px){
    .divDefault section#sectionDefault div#blocksTitle{
        display: flex;
        width: 80%;
        margin-top: 49px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .divDefault section#sectionDefault div#blocksTitle div#retalgleRed{
        margin-left: 0px;
        margin-top: 5%;
    }

    .divDefault section#sectionDefault div#blocksTitle div#retalgleGray{
        margin-top: 0px;
    }

    .sectionRed {
        flex-direction: column;
        padding: 50px;
    }

    .sectionRed div#text {
        margin-bottom: 20px;
    }

    .sectionCheck div#checks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width: 680px){
    .sectionPrimary header  {
        flex-direction: column;
    }

    .sectionPrimary header div#line {
        display: none;
    }
    .displayDiv {
        margin-left: 0;
    }

    .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .cards div#text {
        width: 95%;
    }

    
    .sectionCheck {
        margin: 100px 50px;
    }

    .sectionCheck div#checks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}
